<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>carousel</title>

    <script src="js/bootstrap.js"></script>
   <link rel="stylesheet" href="/styles.css">

</head>
<body>
    
    <section class="row">
        <div class="col-md-12">
            <div id="myCarousel" class="carousel slide" data-bs-ride="carousel" data-pause="false">
                     <!-- Wrapper for carousel items -->
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="../static/images/istockphoto-1915816681-1024x1024.webp" class="d-block w-100" alt="Slide 2" height="600" width="99%">
                            <div class="carousel-caption d-none d-md-block">
                                <h5>nairobi</h5>
                            </div>
                        </div>

                        <div class="carousel-item">           
                            <img src="../static/images/istockphoto-536684842-1024x1024.webp" class="d-block w-100" alt="kisumu" height="600" width="99%">
                            <div class="carousel-caption d-none d-md-block">
                                <h5>kisumu</h5>
                            </div>
                        </div>
                        
                        <div class="carousel-item">
                            <img src="../static/images/istockphoto-1170775456-1024x1024.webp" class="d-block w-100" alt="mombasa" height="600" width="99%">
                            <div class="carousel-caption d-none d-md-block">
                                <h5>mombasa</h5>
                            </div>
                        </div>
                         <div class="carousel-item">
                            <img src="../static/images/360_F_532769282_6q9H6deqTTZRBvBcRUYwaveQmuFsh78R.jpg" class="d-block w-100" alt="mombasa" height="600" width="99%">
                            <div class="carousel-caption d-none d-md-block">
                                <h5>the flag</h5>
                            </div>
                        </div>
                        
                        
                        
                        
                            
                        
                    </div>
                    <!-- Controls -->
                     <!-- Carousel controls -->
                     <a class="carousel-control-prev" href='' data-bs-slide="prev">
                        <span class="carousel-control-prev-icon"></span>
                    </a>
                    <a class="carousel-control-next" href='' data-bs-slide="next">
                        <span class="carousel-control-next-icon"></span>
                    </a>
            </div>
        </div>
   </section>
   
   
</body>
</html>