<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>politics</title>
     <!-- css suporting files  -->
     <link rel="stylesheet" href="../static/files/css/bootstrap.min.css">
     <link rel="stylesheet" href="../static/files/css/lightslider.css">
     <link rel="stylesheet" href="../static/files/css/style.css">
 
     <!-- js surporting files  -->
     <script src="../static/files/js/bootstrap.bundle.min.js"></script>
     <script src="../static/files/js/jquery.js"></script>
     <script src="../static/files/js/lightslider.js"></script>
     <script src="../static/files/js/script.js"></script>

    <style>

        img{

            transition: 1s;
        }
        img:hover{
            transform: scale(1.1);
        }
        .spin {
            display: inline-block;
            animation: spinY 5s alternate linear infinite;
        }
    
        @keyframes spinY {
            from {
                transform: rotateY(0deg);
            }
            to {
                transform: rotateY(180deg);
            }
        }
        
        
    </style>
     <script src="../static/files/css/bootstrap.css"></script>
     <link rel="stylesheet" href="../movie.css">

     <video autoplay muted loop id="kVideo">
        <source src="../static/images/mov_bbb.mp4" type="video/mp4">
     </video>
     
     
     
     

</head>
<body class="">
    <div class="container-fluid">    
          {% include "navbar.html" %} 
      

            <!-- CARD SECTION  -->
            <i><h1>top kenyan seats</h1></i>
            <section class="row">

                <div class="col-md-3">
        
                    <div class="card shadow">
                        <div class="card-body bg-warning">
                          <img src="../static/images/image_750x500_628f5bd9b2240.jpg" alt="" width="96%" height="170px">
                            <h2>presidential seat</h2>
                            <P>this is the top most notch of power in the country as he/she is the one incharge of all defence forces in the state thus can declare war or peace with other foreighn states though such decisions must be passed out by the parliament before any action is undertaken as he had prefferd it.</P>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
        
                    <div class="card shadow">
                        <div class="card-body bg-warning">
                            <img src="../static/images/imagesdep.jpg" alt="" width="96%" height="180px" class="spin">
                            <h2>deputy presidential seat</h2>
                            <P>he can take power as president incase of unneccessary happenings to become the head of state and serve. he/she always have alot of influence to presidents decisions as he is consulted by the president</P>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
        
                    <div class="card shadow">
                        <div class="card-body bg-warning">
                            <img src="../static/images/Kenya_Army_Ranger_Insignia.jpg" alt="" width="96%" height="174px">
                            <h2>chief of defence</h2>
                            <P> this is the military personell incharge of controlling and organising attacks to the enemies of the state. he can sieze power when government misbehaves and embezles government funds and capture them to be tried in court and the right judgement accorded to them to be as a lesson. </P>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
        
                    <div class="card shadow">
                        <div class="card-body bg-warning">
                            <img src="../static/images/imagesra.jpg" alt="" width="96%" height="172px" class="spin">
                            <h2>opposition leader</h2>
                            <P>this person is legally to hold allegations against the acting government by pointing out the governments mistakes thus insighting public on their rights and representing them in national treaties so that all conditions can be applied to their favour to keep them attached to the citizens of the republic. </P>
                        </div>
                    </div>
                </div>
            </section><br><br>
            <i><h1>kenyan major cities governors</h1></i>
            <section class="row">

                <div class="col-md-3">
        
                    <div class="card shadow">
                        <div class="card-body bg-info">
                          <img src="../static/images/kis.jpg" alt="" width="96%" height="155px">
                            <h2>kisumu</h2>
                            <P>this city was founded by the indians who constructed railway lines. they had found it condusive with water and cool breeze in the area hence collaborated with the locals to construct permanent buildings and start to trade in the area making it to develop.  </P>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
        
                    <div class="card shadow">
                        <div class="card-body bg-info">
                            <img src="../static/images/momb.jpg" alt="" width="96%" class="spin" height="155px">
                            <h2>mombasa</h2>
                            <P>this is one of the ancient places in th ecountry that had been occupied by foreighnors who had come to kenya in the early times to trade with the local communities that were still rooted within the interior of kenya thus holds alot of historical records.</P>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
        
                    <div class="card shadow">
                        <div class="card-body bg-info">
                            <img src="../static/images/nai.jpg" alt="" width="96%" height="155px">
                            <h2>nairobi</h2>
                            <P> this is the capital city of kenya due to its centrality thus away from any external agressions making it more secure for governmental operations. it was strategically placed to enable fair movement from all corners of the country with alot of ease.</P>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
        
                    <div class="card shadow">
                        <div class="card-body bg-info">
                            <img src="../static/images/imageskak.jpg" alt="" class="spin" width="96%" height="155px">
                            <h2>kakamega</h2>
                            <P>it is in western kenya and popular for their maize growing habit and their high rate of its consumption. its a growing due to the good governance by its leaders who are never embezle funds instead serves their citizens with the county resources. </P>
                        </div>
                    </div>
                </div>
            </section>
            <br><br><br>
            <i><h1>maumau fighters</h1></i>
            <section class="row" >

              <div class="col-md-3">
      
                  <div class="card shadow">
                      <div class="card-body bg-primary">
                        <img src="../static/images/oge-agulue-as-dedan-in-dedan-kimathi.jpg" alt="" width="96%" height="190px">
                          <h2>dedan</h2>
                          <P>this is one of the kenyan liberators who litted the liberation movement to santch power from the colonisers and to drive them out of the country as they subjected locals to alot of attrocities due to racial difference as they viewed locals as primitives. </P>
                      </div>
                  </div>
              </div>
              <div class="col-md-3">
      
                  <div class="card shadow">
                      <div class="card-body bg-primary">
                          <img src="../static/images/oneko.jpg" alt="" width="96%" height="190px" class="spin">
                          <h2>achieng' oneko</h2>
                          <P>this kenyan iberator is well known for his combat trategies that played a very important role in the gorrila attacks against the colonisers. he was later captured and tortured beyond his expectations thus ended up succumbing.</P>
                      </div>
                  </div>
              </div>
              <div class="col-md-3">
      
                  <div class="card shadow">
                      <div class="card-body bg-primary">
                          <img src="../static/images/kungu.jpg" alt="" width="96%" height="190px">
                          <h2>kungu</h2>
                          <P>kungu is one of the frontline rebells against the coloniser mistreatment of the local people to go through alot of afflictions. he also motivated his fellow opposers to be still and not fear inorder to liberate his country from the colonialists. </P>
                      </div>
                  </div>
              </div>
              <div class="col-md-3">
      
                  <div class="card shadow">
                      <div class="card-body bg-primary">
                          <img src="../static/images/IMG_20211217_040537.jpg" alt="" width="96%" height="190px" class="spin">
                          <h2>bildad kagia</h2>
                          <P>he partipated alot in mobilising the youth to engage in the libberation of their motherland and to drive the colonialists away from the lands that they captured from their ancestors so that they can cultivate it and produce food for their children </P>
                      </div>
                  </div>
              </div>
            </section><br><br><br>
            <i><h1>popular political parties</h1></i>
            <section class="row">

            <div class="col-md-3">
    
                <div class="card shadow">
                    <div class="card-body bg-danger">
                      <img src="../static/images/odm.jpg" alt="" width="96%" height="155px">
                        <h2>ODM</h2>
                        <P>This is the party with many followers in the repulic of kenya. it was founded by hon. Raila amollo odinga to liberate kenyans who had gone through a shift of power yet mistreated by their own who had malicious intentions with the country</P>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
    
                <div class="card shadow">
                    <div class="card-body bg-danger">
                        <img src="../static/images/Jubilee_Party_Official_Logo.jpg" alt="" width="96%" height="155px" class="spin">
                        <h2>JUBILEE</h2>
                        <P>it was founded by others including president uhuru to implement fairness in the society as the past governments had promoted dictatorship and tribalism trhat had led to the demise of many nationals and assasination of prominent leaders in the country</P>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
    
                <div class="card shadow">
                    <div class="card-body bg-danger">
                        <img src="../static/images/ford.jpg" alt="" width="96%" height="155px">
                        <h2>FORD KENYA</h2>
                        <P>this party was founded by hon wetangula and his allies to air out and defend the people who were being mistreated by the government which was then in power. the party then allied with the deputy president leading unto the victory of the uda coalition </P>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
    
                <div class="card shadow">
                    <div class="card-body bg-danger">
                        <img src="../static/images/cropped-uda.png" class="spin" alt="" width="96%" height="155px">
                        <h2>UDA</h2>
                        <P>this was the alliance formed by president william ruto soon after his term had ended as a deputy president. its the first party to attain a victory just at its formation due the determined men and women behind it. this the youngest and the ruling party in kenya  </P>
                    </div>
                </div>
            </div>
            </section>



            <br>

        
        <section class="row bg-success p-4 text-light">
            <div class="col-md-4">
                <h2> About ELISHA</h2>
                <p>look for a good job to lead a successful life full of fun so that you can be graet.</p>
                <p>good work comes with challenges which you must face</p>
            </div>
            <div class="col-md-4">
                <form action="">
                <h2> CONTACT HIM</h2>
                <input type="email" placeholder="enter email" class="form-control"><br><br>
                <textarea name="" id="" cols="15" rows="5" placeholder="leave a comment" class="form-control"></textarea><br>
                <button class=" btn bg-danger text-light">send a message</button>
                <b class="text-success">{{msg}}</b>
                
            </div>
            </form>
            <div class="col-md-4 text-dark"> 
            <h2 class="text-light"> SITES TO LOCATE HIM</h2>
                 <img src="../static/images/fb.png" alt=" facebook" class="spin">
                 <img src="../static/images/in.png" alt="instagram" class="spin">
                 <img src="../static/images/x.png" alt="x" class="spin">
                 <img src="../static/images/Untitled.png" class="spin" alt="tiktok" width="60px" height="60px">
                    <p> kindly use any of this apps to make you work easier and have full information about the recent trends undertaken by elisha on his carrier development</p>
                </div>
</section>
        <footer class="p-4 text-center bg-dark text-light"> <b>Developed by elisha.&copy;2024.All Rights Reserved </b></footer>

            
 

    </div>                                   
</body>
</html>