<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>religion</title>
     <!-- css suporting files  -->
     <link rel="stylesheet" href="../static/files/css/bootstrap.min.css">
     <link rel="stylesheet" href="../static/files/css/lightslider.css">
     <link rel="stylesheet" href="../static/files/css/style.css">
 
     <!-- js surporting files  -->
     <script src="../static/files/js/bootstrap.bundle.min.js"></script>
     <script src="../static/files/js/jquery.js"></script>
     <script src="../static/files/js/lightslider.js"></script>
     <script src="../static/files/js/script.js"></script>
    </script>
    <style>

        img{

            transition: 1s;
        }
        img:hover{
            transform: scale(1.1);
        }
        .spin {
          display: inline-block;
          animation: spinY 5s alternate linear infinite;
        }
  
      @keyframes spinY {
          from {
              transform: rotateY(0deg);
          }
          to {
              transform: rotateY(180deg);
          }
      }


      
      
    </style>
     <script src="js/bootstrap.js"></script>
     <link rel="stylesheet" href="styles.css">
    <!-- <video autoplay muted loop id="myVideo">
      <source src="" type="video/mp4">
    </video>
     -->
    
</head>
<body background="../static/images/6511cd9a0679c_com.truecaller-384x384.png">
  <div class="container-fluid">
      {% include "navbar.html" %}
        <!-- carousel goes here  -->
         <i><marquee behavior="" direction="" class="text-white"><h4>religions in kenya</h4></marquee></i>
        <section class="row" id="2">
            <div class="col-md-12">
                <div class="carousel slide" id="myCarousel" data-bs-ride="carousel">
                   <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="../static/images/502012120_univ_lsr_lg.jpg" alt="image1" class="w-100 d-block" height="600px">
                    </div>
                    <div class="carousel-item">
                        <img src="../static/images/interreligious_council_of_kenya.jpg" alt="image2" class="d-block w-100" height="600px">
                    </div>
                    <div class="carousel-item">
                        <img src="../static/images/FG_Blog_900x680_size-god-of-the-impossible.webp" alt="image3" class="d-block w-100" height="600px">
                    </div>
                   </div>
        
                   <!-- carousel controls  -->
                   <a href="#myCarousel" class="carousel-control-prev" data-bs-slide="prev">
                   <span class="carousel-control-prev-icon"></span>
                   </a>
                   <a href="#myCarousel" class="carousel-control-next" data-bs-slide="next">
                    <span class="carousel-control-next-icon"></span>
                   </a>
                </div>
            </div>
            </section><br><br>

            <!-- CARD SECTION  -->
            <CEnter><h4>pentecostals</h4></CEnter>
            <section class="row">

                <div class="col-md-6">
        
                    <div class="card shadow">
                        <div class="card-body bg-info img-thumbnail">
                          <img src="../static/images/gettyimages-587483308-612x612.jpg" alt="" width="90%" height="300px" class="spin">
                            <h2>pentecostals</h2>
                            <P> Kindly comply by following the rules and regulations of the lab. No one is allowed to tamper with the machines in the lab</P>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
        
                    <div class="card shadow">
                        <div class="card-body bg-warning">
                            <div class="accordion accordion-flush" id="accordionFlushExample1">
                        
                                <div class="accordion-item">
                                  <h2 class="accordion-header">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne0" aria-expanded="false" aria-controls="flush-collapseOne0">
                                      <b class="text-success">population</b>
                                    </button>
                                  </h2>
                                  <div id="flush-collapseOne0" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample1">
                                    <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the <code>.accordion-flush</code> class. This is the first item's accordion body.</div>
                                  </div>
                                </div>
                                <div class="accordion-item">
                                  <h2 class="accordion-header">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo0" aria-expanded="false" aria-controls="flush-collapseTwo2">
                                      <b class="text-success">area of worship</b>
                                    </button>
                                  </h2>
                                  <div id="flush-collapseTwo0" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample1">
                                    <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the <code>.accordion-flush</code> class. This is the second item's accordion body. Let's imagine this being filled with some actual content.</div>
                                  </div>
                                </div>
                                <div class="accordion-item">
                                  <h2 class="accordion-header">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree0" aria-expanded="false" aria-controls="flush-collapseThree3">
                                        <b class="text-success">mythical belief</b>
                                    </button>
                                  </h2>
                                  <div id="flush-collapseThree0" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample1">
                                    <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the <code>.accordion-flush</code> class. This is the third item's accordion body. Nothing more exciting happening here in terms of content, but just filling up the space to make it look, at least at first glance, a bit more representative of how this would look in a real-world application.</div>
                                  </div>
                                </div>
                                <div class="accordion-item">
                                    <h2 class="accordion-header">
                                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapsefour0" aria-expanded="false" aria-controls="flush-collapsefour0">
                                        <b class="text-success">head of religion</b>
                                      </button>
                                    </h2>
                                    <div id="flush-collapsefour0" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample1">
                                      <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the <code>.accordion-flush</code> class. This is the second item's accordion body. Let's imagine this being filled with some actual content.</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section><br><br>
           
            <CEnter><h4>muslims</h4></CEnter>
            <section class="row">

                <div class="col-md-6">
        
                    <div class="card shadow">
                        <div class="card-body bg-info img-thumbnail">
                          <img src="../static/images/images-27.jpeg" class="spin" alt="" width="90%" height="300px">
                            <h2>muslims</h2>
                            <P> Kindly comply by following the rules and regulations of the lab. No one is allowed to tamper with the machines in the lab</P>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
        
                    <div class="card shadow">
                        <div class="card-body bg-warning">
                            <div class="accordion accordion-flush" id="accordionFlushExample2">
                        
                                <div class="accordion-item">
                                  <h2 class="accordion-header">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne00" aria-expanded="false" aria-controls="flush-collapseOne00">
                                      <b class="text-success">population</b>
                                    </button>
                                  </h2>
                                  <div id="flush-collapseOne00" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample2">
                                    <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the <code>.accordion-flush</code> class. This is the first item's accordion body.</div>
                                  </div>
                                </div>
                                <div class="accordion-item">
                                  <h2 class="accordion-header">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo00" aria-expanded="false" aria-controls="flush-collapseTwo22">
                                      <b class="text-success">area of worship</b>
                                    </button>
                                  </h2>
                                  <div id="flush-collapseTwo00" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample2">
                                    <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the <code>.accordion-flush</code> class. This is the second item's accordion body. Let's imagine this being filled with some actual content.</div>
                                  </div>
                                </div>
                                <div class="accordion-item">
                                  <h2 class="accordion-header">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree00" aria-expanded="false" aria-controls="flush-collapseThree33">
                                        <b class="text-success">mythical belief</b>
                                    </button>
                                  </h2>
                                  <div id="flush-collapseThree00" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample2">
                                    <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the <code>.accordion-flush</code> class. This is the third item's accordion body. Nothing more exciting happening here in terms of content, but just filling up the space to make it look, at least at first glance, a bit more representative of how this would look in a real-world application.</div>
                                  </div>
                                </div>
                                <div class="accordion-item">
                                    <h2 class="accordion-header">
                                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapsefour00" aria-expanded="false" aria-controls="flush-collapsefour00">
                                        <b class="text-success">area of worship</b>
                                      </button>
                                    </h2>
                                    <div id="flush-collapsefour00" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample2">
                                      <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the <code>.accordion-flush</code> class. This is the second item's accordion body. Let's imagine this being filled with some actual content.</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section><br><br>
            <CEnter><h4>hindu</h4></CEnter>
            <section class="row">

                <div class="col-md-6">
        
                    <div class="card shadow">
                        <div class="card-body bg-info img-thumbnail">
                          <img src="../static/images/5.jpg" alt="" width="90%" height="300px">
                            <h2>hindu</h2>
                            <P> Kindly comply by following the rules and regulations of the lab. No one is allowed to tamper with the machines in the lab</P>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
        
                    <div class="card shadow">
                        <div class="card-body bg-warning">
                            <div class="accordion accordion-flush" id="accordionFlushExample3">
                        
                                <div class="accordion-item">
                                  <h2 class="accordion-header">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne000" aria-expanded="false" aria-controls="flush-collapseOne00">
                                      <b class="text-success">population</b>
                                    </button>
                                  </h2>
                                  <div id="flush-collapseOne000" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample3">
                                    <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the <code>.accordion-flush</code> class. This is the first item's accordion body.</div>
                                  </div>
                                </div>
                                <div class="accordion-item">
                                  <h2 class="accordion-header">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo000" aria-expanded="false" aria-controls="flush-collapseTwo22">
                                      <b class="text-success">area of worship</b>
                                    </button>
                                  </h2>
                                  <div id="flush-collapseTwo000" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample3">
                                    <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the <code>.accordion-flush</code> class. This is the second item's accordion body. Let's imagine this being filled with some actual content.</div>
                                  </div>
                                </div>
                                <div class="accordion-item">
                                  <h2 class="accordion-header">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree000" aria-expanded="false" aria-controls="flush-collapseThree3">
                                        <b class="text-success">mythical belief</b>
                                    </button>
                                  </h2>
                                  <div id="flush-collapseThree000" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample3">
                                    <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the <code>.accordion-flush</code> class. This is the third item's accordion body. Nothing more exciting happening here in terms of content, but just filling up the space to make it look, at least at first glance, a bit more representative of how this would look in a real-world application.</div>
                                  </div>
                                </div>
                                <div class="accordion-item">
                                    <h2 class="accordion-header">
                                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapsefour000" aria-expanded="false" aria-controls="flush-collapsefour000">
                                        <b class="text-success">head of religion</b>
                                      </button>
                                    </h2>
                                    <div id="flush-collapsefour000" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample3">
                                      <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the <code>.accordion-flush</code> class. This is the second item's accordion body. Let's imagine this being filled with some actual content.</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section><br><br>
            <CEnter><h4>adventists</h4></CEnter>
            <section class="row">

                <div class="col-md-6">
        
                    <div class="card shadow">
                        <div class="card-body bg-info img-thumbnail">
                          <img src="../static/images/Advent-Hope-1.jpg" alt="" width="90%" height="300px">
                            <h2>adventists</h2>
                            <P> Kindly comply by following the rules and regulations of the lab. No one is allowed to tamper with the machines in the lab</P>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
        
                    <div class="card shadow">
                        <div class="card-body bg-warning">
                            <div class="accordion accordion-flush" id="accordionFlushExample4">
                        
                                <div class="accordion-item">
                                  <h2 class="accordion-header">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne0000" aria-expanded="false" aria-controls="flush-collapseOne0000">
                                      <b class="text-success">population </b>
                                    </button>
                                  </h2>
                                  <div id="flush-collapseOne0000" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample4">
                                    <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the <code>.accordion-flush</code> class. This is the first item's accordion body.</div>
                                  </div>
                                </div>
                                <div class="accordion-item">
                                  <h2 class="accordion-header">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo0000" aria-expanded="false" aria-controls="flush-collapseTwo222">
                                      <b class="text-success">area of worship</b>
                                    </button>
                                  </h2>
                                  <div id="flush-collapseTwo0000" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample4">
                                    <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the <code>.accordion-flush</code> class. This is the second item's accordion body. Let's imagine this being filled with some actual content.</div>
                                  </div>
                                </div>
                                <div class="accordion-item">
                                  <h2 class="accordion-header">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree0000" aria-expanded="false" aria-controls="flush-collapseThree3">
                                        <b class="text-success">mythical belief</b>
                                    </button>
                                  </h2>
                                  <div id="flush-collapseThree0000" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample4">
                                    <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the <code>.accordion-flush</code> class. This is the third item's accordion body. Nothing more exciting happening here in terms of content, but just filling up the space to make it look, at least at first glance, a bit more representative of how this would look in a real-world application.</div>
                                  </div>
                                </div>
                                <div class="accordion-item">
                                    <h2 class="accordion-header">
                                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapsefour0000" aria-expanded="false" aria-controls="flush-collapsefour000">
                                        <b class="text-success">head of religion</b>
                                      </button>
                                    </h2>
                                    <div id="flush-collapsefour0000" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample4">
                                      <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the <code>.accordion-flush</code> class. This is the second item's accordion body. Let's imagine this being filled with some actual content.</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section><br><br>
            <CEnter><h4>paganism</h4></CEnter>
            <section class="row">

                <div class="col-md-6">
        
                    <div class="card shadow">
                        <div class="card-body bg-info img-thumbnail">
                          <img src="../static/images/shutterstock-720551413.webp" alt=""  class="spin" width="90%" height="300px">
                            <h2>paganism</h2>
                            <P> Kindly comply by following the rules and regulations of the lab. No one is allowed to tamper with the machines in the lab</P>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
        
                    <div class="card shadow">
                        <div class="card-body bg-warning">
                            <div class="accordion accordion-flush" id="accordionFlushExample5">
                        
                                <div class="accordion-item">
                                  <h2 class="accordion-header">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne00000" aria-expanded="false" aria-controls="flush-collapseOne00000">
                                      <b class="text-success">population</b>
                                    </button>
                                  </h2>
                                  <div id="flush-collapseOne00000" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample5">
                                    <div class="accordion-body">this is the religion for those who dont believe in any greater powers <code>.accordion-flush</code>they believe to have come to existance on their own</div>
                                  </div>
                                </div>
                                <div class="accordion-item">
                                  <h2 class="accordion-header">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo0000" aria-expanded="false" aria-controls="flush-collapseTwo222">
                                      <b class="text-success">area of worship</b>
                                    </button>
                                  </h2>
                                  <div id="flush-collapseTwo00000" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample5">
                                    <div class="accordion-body">these  people have no specific area of worship and does not attend any religious meetings.<code>.accordion-flush</code>though they believe in no suprimacy they are guided by human concious hence reflecting to their good behaviours</div>
                                  </div>
                                </div>
                                <div class="accordion-item">
                                  <h2 class="accordion-header">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree00000" aria-expanded="false" aria-controls="flush-collapseThree33">
                                        <b class="text-success">mythical belief</b>
                                    </button>
                                  </h2>
                                  <div id="flush-collapseThree00000" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample5">
                                    <div class="accordion-body">these people are mostly known to have come out of religion after seeing attrocities that that were commited in the churches these people mostly like human reasoning making them to outstand and conqure human problems</div>
                                  </div>
                                </div>
                                <div class="accordion-item">
                                    <h2 class="accordion-header">
                                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapsefour00000" aria-expanded="false" aria-controls="flush-collapsefour00000">
                                        <b class="text-success">the head of religion</b>
                                      </button>
                                    </h2>
                                    <div id="flush-collapsefour00000" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample5">
                                      <div class="accordion-body">their religion is mostly based on friendship and brotherhood hence their prevailance of human values like other religions.</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section><br><br>
           
   <br>
 

 <section class="row  bg-warning p-4">
    <div class="col-md-4">
        <h2> About us</h2>
        <p>look for a good job to lead a successful life full of fun so that you can be graet.</p>
        <p>good work comes with challenges which you must face</p>
    </div>
    <div class="col-md-4">
        <form action="" >
        <h2> contact us</h2>
        <input type="email" placeholder="enter email" class="form-control"><br><br>
        <textarea name="" id="" cols="15" rows="5" placeholder="leave a comment" class="form-control btn-outline-danger"></textarea><br>
        <button class=" btn bg-danger text-light">send a message</button>
    </div>
    </form>
    <div class="col-md-4 text-dark"> 
    <h2 class="text-light"> stay connected</h2>
         <img src="../static/images/fb.png" class="spin" alt=" facebook">
         <img src="../static/images/in.png" class="spin" alt="instagram">
         <img src="../static/images/x.png" class="spin" alt="x">
         <img src="../static/images/Untitled.png" class="spin" alt="tiktok" width="60px" height="60px">
            <p> kindly use any of this apps to make you work easier and have full information about the recent trends in the market</p>
        </div>
 </section>
 <footer class="p-4 text-center bg-dark text-light"> <b>Developed by elisha.&copy;2024.All Rights Reserved </b></footer>







    
  </div>                                     
</body>
</html>